discord.py==1.7.3
aiohttp==3.7.4.post0
pypresence==4.2.0
requests==2.25.0
plyer==2.0.0
pyperclip==1.8.2
dhooks==1.1.4
PyAutoGUI==0.9.53
selenium==3.141.0
colorama==0.4.4
beautifulsoup4==4.9.3
discord==1.7.3
Pillow==8.3.1
